* {
	font-family: Arial, sans-serif;
	font-size: 18px;

}

html,
body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

body {
	background-color: #70C4F6;
}

h4 {
	text-align: center;
}

button {
	align-items: center;
}

button:hover[type="submit"] {
	background-color: #1CA4F4;
}

.div_info {
	width: 400px;
	height: 50%;
	background-color: #43b8f7;
	border-radius: 10px;
	text-align: center;
	padding: 1em;
	box-sizing: border-box;
	border: black 2px solid;
}

footer {
	margin-top: auto;
}

td {
	width: 100%;
}

.flex-wrapper {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: flex-start;
}